<!DOCTYPE html>
<html>
<head>
    <title>Form Rekomendasi</title>
</head>
<body>
    <h1>Form Rekomendasi</h1>
    <form action="/recommend" method="post">
        <label for="preference">Apakah kamu lebih tertarik ke aktivitas di dalam kampus atau di luar kampus?</label>
        <select id="preference" name="preference">
            <option value="Dalam Kampus">Dalam Kampus</option>
            <option value="Luar Kampus">Luar Kampus</option>
        </select>
        <br>
        <label for="skills">Bisa diceritakan kamu tertarik untuk mengembangkan skill apa?</label>
        <textarea id="skills" name="skills" rows="4" cols="50"></textarea>
        <br>
        <label for="past_activities">Bisa diceritakan mengenai kamu pernah ikut kegiatan apa saja?</label>
        <textarea id="past_activities" name="past_activities" rows="4" cols="50"></textarea>
        <br>
        <label for="penyelenggara">Asal Perguruan Tinggi:</label><br>
        <input type="text" id="penyelenggara" name="penyelenggara"><br>
        <label for="durasi">Durasi:</label><br>
        <input type="text" id="durasi" name="durasi"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
